<div class="header">
  <div class="header_resize">
    <div class="logo">
			<a href="index.html"><%= image_tag("logo.png") %></a>      
		</div>
    <div class="menu_nav">
      <ul>
        <li><a href="/public/index">Home <small>página inicial</small></a></li>
        <li class="active"><a href="/public/service">Área de atuação <small>serviços</small></a></li>
        <li><a href="/public/about">Sobre nós<small>informação</small></a></li>
        <li><a href="#">Blog <small>nutrição</small></a></li>
        <li><a href="/public/contact">Fale conosco<small>Marque uma visita</small></a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="hbg">
  <div class="hbg_resize"><%= image_tag("banner.jpg") %></div>
</div>
<div class="content">
  <div class="content_resize">
    <div class="mainbar">

      <div class="article">
	      <h2>Áreas de atuação:</h2>
				<table border="0	">
					<tr>
						<td><%= image_tag("aple.png")%></td>
						<td><h3><%= link_to "Educação nutricional em escolas", "#estabelecimentos-do-ramo-alimenticio" %></h3></td>
					</tr>
					<tr>
						<td><%= image_tag("aple.png")%></td>
						<td><h3><%= link_to "Estabelecimentos do ramo alimentício", "#educacao-nutricional-em-escolas" %></h3></td>
					</tr>
					<tr>
						<td><%= image_tag("aple.png")%></td>
						<td><h3><%= link_to "Empresas", "#empresas" %></h3></td>
					</tr>
					<tr>
						<td><%= image_tag("aple.png")%></td>
						<td><h3><%= link_to "Personal Diet", "#personal-diet" %></h3></td>
					</tr>
					<tr>
						<td><%= image_tag("aple.png")%></td>
						<td><h3><%= link_to "Programa você na medida certa", "#programa-voce-na-medida-certa" %></h3></td>
					</tr>
				</table>
			</div>
				
			<div class="article">
				
				<a name="estabelecimentos-do-ramo-alimenticio"></a>
	      <h2>Estabelecimentos do ramo alimentício</h2>
	
        <div class="clr"></div>

				<p>
					O objetivo dessa área da consultoria é minimizar a responsabilidade do administrador frente as questões da segurança alimentar e Vigilância Sanitária.
					O investimento na consultoria nutricional pode prolongar a vida útil da matéria prima, melhorar a conservação dos alimentos, aumentar a lucratividade 
					por meio da redução do desperdício, qualificação de mão de obra e fidelização da clientela por meio de sugestões de receitas inovadoras.					
				</p>
				
        <p><b>Serviços oferecidos:</b></p>

				<div id="options">
					<a href="javascript:acc1.pr(1)">expandir</a> | <a href="javascript:acc1.pr(-1)">contrair</a>
				</div>
				<ul class="acc" id="acc1">
					<li>
						<h3>Adequação das instalações e dimensionamento de área</h3>
						<div class="acc-section">
							<div class="acc-content">
								A determinação correta de área útil destinada a cada etapa do processo produtivo é capaz de permitir 
								melhor fluxo de trabalho e menor tempo em cada etapa do processo produtivo;
							</div>
						</div>
					</li>
					<li>
						<h3>Seleção de máquinas, equipamentos e utensílios</h3>
						<div class="acc-section">
							<div class="acc-content">
								Os funcionários capacitados apesar de demandarem maior investimento salarial reduzem o desperdício 
								justificando, assim, o investimento inicial. Avaliação das condições higiênico sanitárias e de saúde dos 
								funcionários é responsável por permitir a prevenção de surtos alimentares ocasionados pela contaminação dos 
								alimentos;
							</div>
						</div>
					</li>
					<li>
						<h3>Colaboração na contratação,capacitação de mão de obra e avaliação dos manipuladores</h3>
						<div class="acc-section">
							<div class="acc-content">
								Utensílios antigos ou em mau estado de conservação podem desprender partículas, contaminar a produção e causar 
								um surto de toxinfecção alimentar;
							</div>
						</div>
					</li>
					<li>
						<h3>Treinamento de higiene e manipulação dos alimentos</h3>
						<div class="acc-section">
							<div class="acc-content">
								A correta higienização do manipulador, dos alimentos e do ambiente, garante a segurança alimentar;
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração e implantação do Manual de Boas Práticas de Fabricação</h3>
						<div class="acc-section">
							<div class="acc-content">
								Instrumento indispensável no local de produção dos alimentos exigido legalmente. O manual é constituído 
								de um conjunto de normas de procedimentos que têm, por base, o controle das condições operacionais destinadas 
								a garantir a elaboração de produtos seguros e o bom funcionamento de seu estabelecimento;							</div>
						</div>
					</li>
					<li>
						<h3>Visitas técnicas</h3>
						<div class="acc-section">
							<div class="acc-content">
								É indispensável o levantamento dos possíveis problemas ocorridos na produção dos alimentos e constitui a primeira 
								etapa do nosso trabalho. As informações obtidas, nesta etapa, permitem uma intervenção eficaz com aplicação de check list;
							</div>
						</div>
					</li>
					<li>
						<h3>Auditoria Técnica</h3>
						<div class="acc-section">
							<div class="acc-content">
								Visitas ‘surpresas’ aos funcionários, durante o processo de produção, afim de verificar se os processos de fabricação estão 
								sendo realizados da maneira correta;				
							</div>
						</div>
					</li>
					<li>
						<h3>Monitorar as etapas de fabricação</h3>
						<div class="acc-section">
							<div class="acc-content">
								O controle e análise de todas as etapas do processo produtivo garante a qualidade do produto final. O controle da temperatura, 
								por exemplo, é capaz de inibir a proliferação exacerbada de microorganismos potencialmente patológicos;				
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração de fichas técnicas com medidas, custos e valor nutricional do prato</h3>
						<div class="acc-section">
							<div class="acc-content">
								Permite a padronização das receitas e execução da mesma por qualquer funcionário do local. Há, ainda, a redução considerável de 
								custos pois os ingredientes são determinados em medida caseira e padrão viabilizando, portanto, a produção. 
							</div>
						</div>
					</li>
					<li>
						<h3>Contato com empresas para controle de pragas e limpeza de caixa d´água</h3>
						<div class="acc-section">
							<div class="acc-content">
								Os insetos são, naturalmente, veiculadores de doenças. Assim sendo, a correta instalação de telas ou outras armadilhas evita a 
								veiculação de doenças. A parceria com uma empresa altamente especializada e segura, tranquiliza o contratante.
							</div>
						</div>
					</li>
					<li>
						<h3>Rotulagem dos alimentos</h3>
						<div class="acc-section">
							<div class="acc-content">
								A informação nutricional contida nos rótulos é um direito do consumidor desde 2001. Portanto, em locais onde há fabricação própria, 
								este serviço é indispensável;
							</div>
						</div>
					</li>
					<li>
						<h3>Visitas externas a fornecedores</h3>
						<div class="acc-section">
							<div class="acc-content">
								Mediante solicitação, avaliamos as condições higiênico-sanitárias de seu 	fornecedor, áreas de estoque e transporte para credenciamento 
								de qualidade. Com este ato podemos esta	estabelecer parcerias com fornecedores aptos e negociarmos prazos para pagamentos e preços reduzindo, 
								as sim, o custo final do produto;
							</div>
						</div>
					</li>
					<li>
						<h3>Treinamentos adicionais (de acordo com a necessidade)</h3>
						<div class="acc-section">
							<div class="acc-content">
								Implica na elaboração e implantação de um programa de educação e treinamento da equipe para melhoria de produtividade, maior segurança e higiene 
								do trabalho, melhoria de técnicas, dos padrões de execução, maior confiança no desempenho do empregado, melhoria da qualidade dos produtos e serviços, 
								redução de perdas e danos, desperdícios de gêneros e danos em equipamentos e/ou utensílios. Poderemos, ainda, estabelecer e designar rotinas aos funcionários 
								a fim de torná-lo qualificado para a execução da atividade determinada. Treinamento e controle de EPI´s (Equipamento de proteção individual); 
							</div>
						</div>
					</li>
					<li>
						<h3>Avaliação nutricional de funcionários</h3>
						<div class="acc-section">
							<div class="acc-content">
								Atualmente, para a melhoria da qualidade e do desempenho do trabalhador, a empresa deve ser um elo entre a saúde e a prevenção de doenças do funcionário. 
								A avaliação nutricional tem o papel de diagnosticar e prevenir inúmeras doenças aumentando, assim, a produtividade de seu colaborador e diminuindo o absenteísmo; 
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração e implantação de cardápios</h3>
						<div class="acc-section">
							<div class="acc-content">
								A reformulação de cardápios poderá atrair novos clientes e surpreender os antigos e, assim, aumentar seu lucro;
							</div>
						</div>
					</li>
					<li>
						<h3>Implantação de novas receitas ou cardápios diferenciados</h3>
						<div class="acc-section">
							<div class="acc-content">
								A instauração de novas receitas pode reerguer um estabelecimento e, ainda, conquistar novos clientes. A criação de cardápios diferenciados para datas comemorativas 
								faz com que funcionários e/ou clientes mantenham-se motivados e voltem sempre em busca da próxima “novidade”.
							</div>
						</div>
					</li>
					<li>
						<h3>Controle de estoque (Quantidade de produtos, data de validade, sistema PVPS)</h3>
						<div class="acc-section">
							<div class="acc-content">
								A organização do estoque otimiza o trabalho de todos os funcionários da unidade produtiva. O sistema PVPS, por exemplo, permite que todos os gêneros sejam utilizados dentro do prazo de validade.
							</div>
						</div>
					</li>
					<li>
						<h3>Combate ao desperdício</h3>
						<div class="acc-section">
							<div class="acc-content">
								O treinamento de funcionários para o pré-preparo e a instauração de fatores de correção personalizados para cada unidade produtiva permitem o combate ao desperdício. É de conhecimento geral que 
								os recursos naturais estão cada vez mais escassos e, com ações educativas e treinamentos efetivos, poderemos contribuir com recursos tanto financeiros quanto naturais.
							</div>
						</div>
					</li>
					<li>
						<h3>Marketing nutricional e cardápios diferenciados (culinária funcional, vegetariana, mediterrânea, light ou diet)</h3>
						<div class="acc-section">
							<div class="acc-content">
								Saber vender seu produto é uma arte e estamos dispostos a aumentar suas vendas. O marketing nutricional permitirá desde a elaboração e diagramação ideal de seu cardápio, para torná-lo mais “convidativo”, 
								até o estabelecimento de preços para que não haja prejuízos. 
							</div>
						</div>
					</li>
					<li>
						<h3>Estabelecimentos do ramo alimentício</h3>
						<div class="acc-section">
							<div class="acc-content">
								O objetivo dessa área da consultoria é minimizar a responsabilidade do administrador frente as questões da segurança alimentar e Vigilância Sanitária.
								O investimento na consultoria nutricional pode prolongar a vida útil da matéria prima, melhorar a conservação dos alimentos, aumentar a lucratividade 
								por meio da redução do desperdício, qualificação de mão de obra e fidelização da clientela por meio de sugestões de receitas inovadoras.					
							</div>
						</div>
					</li>
				</ul>		
				
				<a name="educacao-nutricional-em-escolas"></a>
	      <h2>Educação nutricional em escolas</h2>

        <div class="clr"></div>

				<p>
					Na infância e adolescência, o ganho de peso é conquistado com facilidade com hábitos alimentares errados, genética, 
					estilo de vida sedentário, distúrbios psicológicos, problemas na convivência familiar entre outros. O objetivo da 
					Sabor Integral Consultoria, é trazer para sua escola um programa diferenciado para reeducação e conscientização tanto 
					do aluno quanto da família. A escola é, indiscutivelmente, o melhor agente para promover a educação nutricional, uma 
					vez que é na infância que se fixam atitudes e praticas alimentares difíceis de modificar na vida adulta. 				
				</p>

        <p><b>Serviços oferecidos:</b></p>

				<div id="options">
					<a href="javascript:acc2.pr(1)">expandir</a> | <a href="javascript:acc2.pr(-1)">contrair</a>
				</div>
				
				<ul class="acc" id="acc2">
					<li>
						<h3>Educação nutricional para alunos</h3>
						<div class="acc-section">
							<div class="acc-content">
								Aconselhamento nutricional para tornar o aluno 	mais confiante de suas escolhas sabendo diferenciar vantagens e 
								desvantagens da ingestão de determinados tipos de alimentos, garantindo assim uma alimentação saudável e 	prazerosa 
								que suprirá suas necessidades sociais, fisiológicas e psicológicas. Através de uma metodologia direcionada para cada 
								faixa etária, com participação dos professores e da direção da escola. Através de atividades lúdicas, teatros, 
								brincadeiras e palestras.							
							</div>
						</div>
					</li>
					<li>
						<h3>Orientação nutricional para os pais</h3>
						<div class="acc-section">
							<div class="acc-content">
								Auxílio aos pais através de palestras a selecionar e 	implementar comportamentos necessários de nutrição e a mudança de 
								estilo de vida 	para hábitos mais saudáveis. Orientação sobre distúrbios alimentares e o que fazer na prevenção e no tratamento. 
								Palestras direcionadas para cada faixa etária.							
							</div>
						</div>
					</li>
					<li>
						<h3>Avaliação nutricional</h3>
						<div class="acc-section">
							<div class="acc-content">
								Avaliação Nutricional com aferições de medidas antropométricas, classificando o aluno em seu estado nutricional. A avaliação é 
								feita semestralmente, com encaminhamento dos resultados para os pais ou responsáveis e direcionamento para atendimento individualizado 
								caso necessário.							
							</div>
						</div>
					</li>
					<li>
						<h3>Atendimento nutricional personalizado</h3>
						<div class="acc-section">
							<div class="acc-content">
								Acompanhamento do aluno caso haja necessidade de intervenção nutricional de acordo com sua classificação na avaliação. 						
							</div>
						</div>
					</li>
					<li>
						<h3>Desenvolvimento de artigos para o site da instituição</h3>
						<div class="acc-section">
							<div class="acc-content">
								Elaboração de artigos referentes a alimentação, dicas para os pais e alunos de como ter uma alimentação saudável, publicação de receitas e lancheiras saudáveis.
							</div>
						</div>
					</li>
					<li>
						<h3>Oficina de culinária</h3>
						<div class="acc-section">
							<div class="acc-content">
								Ensinar receitas fáceis de fazer, afim de incentivar o consumo de frutas, verduras e legumes. Mostrar como é o plantio do alimento fazendo uma horta, despertando no 
								aluno o conhecimento de como é produzido o alimento. Obs: Caso a escola não tenha uma cozinha experimental, temos um espaço próprio para que as crianças possam realizar 
								as atividades. O local oferece uma cozinha própria para crianças com capacidade para 35 alunos. As atividades neste local, tem duração de aproximadamente 3 horas pois 
								disponibiliza também um espaço de Artes.							
						  </div>
						</div>
					</li>
					<li>
						<h3>Elaboração de cardápio</h3>
						<div class="acc-section">
							<div class="acc-content">
								Elaboramos cardápios funcionais, podendo ser semanais, mensais e anuais de acordo com as frutas e legumes da estação. Semanalmente destacamos algum alimento funcional 
								explicando sua importância para a saúde dos alunos.							
							</div>
						</div>
					</li>
				</ul>		

        <p><b>Para a cantina da escola:</b></p>

				<div id="options">
					<a href="javascript:acc3.pr(1)">Expandir</a> | <a href="javascript:acc3.pr(-1)">Contrair</a>
				</div>
				
				<ul class="acc" id="acc3">
					<li>
						<h3>Visitas técnicas</h3>
						<div class="acc-section">
							<div class="acc-content">
								Inspeção na cantina da instituição. É indispensável o levantamento dos possíveis problemas ocorridos na produção dos alimentos e constitui a primeira etapa do nosso trabalho. 
								As informações obtidas, nesta etapa, permitem uma intervenção eficaz com aplicação de check list e normalização caso seja necessário de acordo com a legislação vigente da 
								Vigilância Sanitária. 
							</div>
						</div>
					</li>
					<li>
						<h3>Treinamento de higiene para funcionários da cantina</h3>
						<div class="acc-section">
							<div class="acc-content">
								A correta higienização do manipulador, dos alimentos e do ambiente, garante a segurança alimentar contra doenças transmitidas por alimentos ou contaminação cruzada no momento 
								da manipulação do mesmo.
							</div>
						</div>
					</li>
					<li>
						<h3>Auditoria Técnica</h3>
						<div class="acc-section">
							<div class="acc-content">
								isitas ‘surpresas’ aos funcionários, durante o processo de produção, afim de verificar se os processos de fabricação estão sendo realizados da maneira correta.						
							</div>
						</div>
					</li>
					<li>
						<h3>Monitorar as etapas de fabricação</h3>
						<div class="acc-section">
							<div class="acc-content">
								O controle e análise de todas as etapas do processo produtivo garante a qualidade do produto final. O controle da temperatura, por exemplo, é capaz de inibir a 
								proliferação exacerbada de microorganismos potencialmente patológicos;							
							</div>
						</div>
					</li>
					<li>
						<h3>Treinamento para coleta de amostras de todas as etapas de fabricação e envio para análise em laboratório, se necessário</h3>
						<div class="acc-section">
							<div class="acc-content">
								Este procedimento, aparentemente simples, é um 	controle eficaz da proliferação bacteriana. A amostra deve ser congelada por 72h e, 
								em 	casos de surtos, a amostra deve ser encaminhada 	para análise microbiológica e de-	terminação da causa destes;
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração de fichas técnicas com medidas, custos e valor nutricional do prato</h3>
						<div class="acc-section">
							<div class="acc-content">
								Permite a padronização das receitas e execução da mesma por qualquer funcionário do local. Há, ainda, a redução considerável de custos pois 
								os ingredientes são determinados em medida caseira e padrão viabilizando, portanto, a produção. 
							</div>
						</div>
					</li>
					<li>
						<h3>Treinamento para implantação do cardápio</h3>
						<div class="acc-section">
							<div class="acc-content">
								Treinamento para funcionários da instituição de acordo com livro de receitas oferecidos para a instituição.
							</div>
						</div>
					</li>
					<li>
						<h3>Cantina Saudável</h3>
						<div class="acc-section">
							<div class="acc-content">
								Instauração de novas receitas com opções saudáveis para que o aluno possa colocar em prática o que aprendeu 
								com a educação nutricional, e ainda ganhar a confiança dos pais com relação a segurança de que o seu filho 
								está sendo bem cuidado. 
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração de fichas técnicas com medidas, custos e valor nutricional do prato</h3>
						<div class="acc-section">
							<div class="acc-content">
								Permite a padronização das receitas e execução da mesma por qualquer funcionário do local. 
							</div>
						</div>
					</li>
				</ul>		

				<a name="empresas"></a>
	      <h2>Empresas</h2>

        <div class="clr"></div>

				<p>
					Atualmente, para a melhoria da qualidade e do desempenho do trabalhador, a empresa deve ser um elo entre a saúde e a prevenção 
					de doenças do funcionário. A orientação nutricional tem o papel de auxiliar na prevenção de inúmeras doenças aumentando, assim, 
					a produtividade do colaborador e diminuindo o absenteísmo. É um programa descontraído com orientações nutricionais visando a 
					qualidade de vida desenvolvido para empresas que tenham o objetivo de contribuir para a saúde dos funcionários. Todo o programa 
					é realizado no ambiente de trabalho para facilitar a participação do funcionário. 				
				</p>

        <p><b>Serviços oferecidos:</b></p>

				<div id="options">
					<a href="javascript:acc4.pr(1)">expandir</a> | <a href="javascript:acc4.pr(-1)">contrair</a>
				</div>
				
				<ul class="acc" id="acc4">
					<li>
						<h3>Avaliação do estado nutricional</h3>
						<div class="acc-section">
							<div class="acc-content">
								Todos os colaboradores passam por uma avaliação nutricional. Utilizamos peso e altura para 
								calcular o índice de massa corpórea e circunferência da cintura para risco de doença cardiovascular.							
							</div>
						</div>
					</li>
					<li>
						<h3>Atendimento individualizado e personalizado</h3>
						<div class="acc-section">
							<div class="acc-content">
								Para os funcionários que na avaliação nutricional apresentaram sobrepeso, obesidade e risco para doença 
								cardiovascular. Estes receberão um atendimento individualizado de acordo com suas necessidades e reeducação alimentar.						
							</div>
						</div>
					</li>
					<li>
						<h3>Palestras</h3>
						<div class="acc-section">
							<div class="acc-content">
								Temos foco em palestras para orientação e reeducação nutricional. Temas sobre alimentação saudável, escolhas inteligentes, 
								alimentação correta fora de casa, alimentos funcionais, qualidade de vida com nutrição ortomolecular e atualidades.						
							</div>
						</div>
					</li>
					<li>
						<h3>Semana da prevenção de doenças crônico não transmissíveis como Hipertensão Arterial, Diabetes, Hipercolesterolemia, entre outras (SIPAT)</h3>
						<div class="acc-section">
							<div class="acc-content">
								Realizamos campanhas para que todos os funcionários participem e se conscientizem da importância de uma alimentação saudável como prevenção.						
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração de boletins informativos</h3>
						<div class="acc-section">
							<div class="acc-content">
								Oferecemos para a empresa informações e dicas nutricionais para alimentação no trabalho. Lanches rápidos e escolhas certas para não se sentir muito pesado e sonolento.							
							</div>
						</div>
					</li>
					<li>
						<h3>Almoço com a nutricionista</h3>
						<div class="acc-section">
							<div class="acc-content">
								Para empresas que servem refeição. As nutricionistas ficam ao lado das preparações orientando sobre escolhas inteligentes dos alimentos oferecidos.						
							</div>
						</div>
					</li>
					<li>
						<h3>Elaboração de lanches e cofee-break saudável</h3>
						<div class="acc-section">
							<div class="acc-content">
								Organizamos todos os coffes de acordo com o público e o número de pessoas.							
							</div>
						</div>
					</li>
					<li>
						<h3>Educação física e fisioterapia</h3>
						<div class="acc-section">
							<div class="acc-content">
								Temos parcerias com profissionais de educação física e fisioterapia para complementar nosso trabalho!
							</div>
						</div>
					</li>
				</ul>		

				<a name="personal-diet"></a>
	      <h2>Personal Diet</h2>

        <div class="clr"></div>

				<p>
					Já imaginou ter uma nutricionista só para você? Que te leva as compras e ainda arruma sua geladeira? Agora você pode! A consulta 
					pode ser feita na sua casa ou no nosso consultório.				
				</p>

        <p><b>Atendemos:</b></p>

				<div id="options">
					<a href="javascript:acc5.pr(1)">expandir</a> | <a href="javascript:acc5.pr(-1)">contrair</a>
				</div>
				<ul class="acc" id="acc5">
					<li>
						<h3>Nutrição funcional</h3>
						<div class="acc-section">
							<div class="acc-content">
								Combinação adequada dos alimentos para manter o organismo em equilíbrio sem perdas e excessos.							
							</div>
						</div>
					</li>
					<li>
						<h3>Nutrição em estética</h3>
						<div class="acc-section">
							<div class="acc-content">
								Dietas desintoxicantes para tratamentos de pele, cabelo, unhas, gordura localizada, celulite, varizes, flacidez e estrias.							
							</div>
						</div>
					</li>
					<li>
						<h3>Nutrição esportiva</h3>
						<div class="acc-section">
							<div class="acc-content">
								Dietas para hipertrofia muscular e adequadas para cada tipo de treino/modalidade. Tratamento com alimentação e suplementação.							
							</div>
						</div>
					</li>
					<li>
						<h3>Pré-natal</h3>
						<div class="acc-section">
							<div class="acc-content">
								Alimentação adequada para quem quer engravidar sem riscos nutricionais e variação de peso.						
							</div>
						</div>
					</li>
					<li>
						<h3>Gestantes</h3>
						<div class="acc-section">
							<div class="acc-content">
								Cardápios saudáveis que ajudam o desenvolvimento do bebê, saúde da mãe e ganho de peso controlado.							
							</div>
						</div>
					</li>
					<li>
						<h3>Lactantes (Pós parto)</h3>
						<div class="acc-section">
							<div class="acc-content">
								Planos alimentares que favorecem a produção de leite e a perda de peso gradualmente quando necessário.						
							</div>
						</div>
					</li>
					<li>
						<h3>Bebês / Clrianças</h3>
						<div class="acc-section">
							<div class="acc-content">
								Introdução alimentar de acordo com cada  mês de vida e acompanhamento adequado do crescimento.
							</div>
						</div>
					</li>
					<li>
						<h3>Adolecentes</h3>
						<div class="acc-section">
							<div class="acc-content">
								Reeducação alimentar,  tratamentos para transtornos alimentares (bulimia, anorexia e vigorexia).
 							</div>
						</div>
					</li>
					<li>
						<h3>Noivas</h3>
						<div class="acc-section">
							<div class="acc-content">
								Programas de emagrecimento para o estar linda no grande dia.
 							</div>
						</div>
					</li>
					<li>
						<h3>Geriatria (idosos)</h3>
						<div class="acc-section">
							<div class="acc-content">
								Alimentação que contribui para o envelhecimento saudável, prevenção/ tratamento de doenças.
 							</div>
						</div>
					</li>
					<li>
						<h3>Emagrecimento</h3>
						<div class="acc-section">
							<div class="acc-content">
								Programa de emagrecimento gradual de acordo com a necessidade do paciente. Para que o programa 
								tenha efeito, é necessário que o paciente tenha um acompanhamento periódico nutricional.
 							</div>
						</div>
					</li>
					<li>
						<h3>Home Care (enteral/parenteral)</h3>
						<div class="acc-section">
							<div class="acc-content">
								Nutrição clínica especializada para calculo de dietas enterais e parenterais. Treinamento para 
								manipulação e produção da dieta. Cálculo de acordo com as necessidades e patologias do paciente.
 							</div>
						</div>
					</li>
					<li>
						<h3>Nutrição Ortomolecular</h3>
						<div class="acc-section">
							<div class="acc-content">
								A Nutrição Ortomolecular proporciona um equilíbrio no seu organismo por meio da alimentação individualizada 
								com suplementação de nutrientes específicos (Vitaminas, minerais, nutracêuticos e fitoterápicos ) de acordo 
								com as necessidades e fases da vida de cada um. 
 							</div>
						</div>
					</li>
				</ul>		

				<a name="programa-voce-na-medida-certa"></a>
	      <h2>Programa você na medida certa</h2>
	

        <div class="clr"></div>

				<p>
					É um programa no qual quem quer fazer dieta porém nao tem como cozinhar por falta de tempo. A proposta é cozinhar e entregar para o 
					paciente as refeições. Após a consulta nutricional, é elaborado um cardápio de acordo com as necessidades e quantidades certas de cada 
					alimento. Entregamos a dieta separadas (almoço e/ou jantar) uma vez por semana na casa do cliente.				
				</p>

      </div>

    </div>
    <div class="sidebar">
      <div class="gadget">
        <h2 class="star">Menu</h2>
        <div class="clr"></div>
        <ul class="sb_menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Área de atuação</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Fale conosco</a></li>
        </ul>
      </div>
      <div class="gadget">
        <h2 class="star"><span>Parceiros</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li>
						<a href="#">Empresa1</a><br />
            ...
					</li>
          <li>
						<a href="#">Empresa2</a><br />
            ...
					</li>
          <li>
						<a href="#">Empresa3</a><br />
            ...
					</li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<script type="text/javascript">

	var acc1 = new TINY.accordion.slider("acc1");
	acc1.init("acc1","h3",0,0);

	var acc2 = new TINY.accordion.slider("acc2");
	acc2.init("acc2","h3",0,0);

	var acc3 = new TINY.accordion.slider("acc3");
	acc3.init("acc3","h3",0,0);

	var acc4 = new TINY.accordion.slider("acc4");
	acc4.init("acc4","h3",0,0);

	var acc5 = new TINY.accordion.slider("acc5");
	acc5.init("acc5","h3",0,0);

</script>

