<!DOCTYPE html>
<html>
<head>
  <title>Si</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag 'FreshPick' %>
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'screen' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
