<!DOCTYPE html>
<html>
	<head>
	  <title>Si</title>
	  <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
  	<meta name="google-site-verification" content="axM1VQwEtiMlX0vQspimqNk5cKFHLt-4pDoMIwhFbxA" />
	</head>
	<body>
		<div class="header">
		  <div class="header_resize">
		    <div class="logo">
					<a href="index.html"><%= image_tag("logo.png") %></a>      
				</div>
		    <div class="menu_nav">
		      <ul>
		        <li><a href="/public/index">Home <small>início</small></a></li>
		        <li><a href="/public/service">Atuação <small>serviços</small></a></li>
		        <li><a href="/public/about">Sobre nós<small>quem somos</small></a></li>
		        <li><a href="#">Blog <small>postagens</small></a></li>
		        <li><a href="/public/map">Consultório<small>endereço e telefone</small></a></li>
		        <li><a href="/contacts/new">Contato<small>fale conosco</small></a></li>
		      </ul>
		    </div>
		    <div class="clr"></div>
		  </div>
		</div>
		<div class="hbg">
		  <div class="hbg_resize"><%= image_tag("banner.jpg") %></div>
		</div>
		<div class="main">
			<%= yield %>
			<div class="fbg">
			  <div class="fbg_resize">
			    <div class="col c1">
			      <h2><span>Galeria</span></h2>
			      <a href="#"><img src="" width="58" height="58" alt="" /></a> <a href="#"><img src="" width="58" height="58" alt="" /></a> <a href="#"><img src="" width="58" height="58" alt="" /></a> <a href="#"><img src="" width="58" height="58" alt="" /></a> <a href="#"><img src="" width="58" height="58" alt="" /></a> <a href="#"><img src="" width="58" height="58" alt="" /></a> </div>
			    <div class="col c2">
			      <h2><span>Endereço</span></h2>
			      <p>
							Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço
						</p>
			    </div>
			    <div class="col c3">
			      <h2><span>Sobre nós</span></h2>
			      <img src="images/white.jpg" width="56" height="56" alt="" />
			      <p>Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - </p>
			    </div>
			    <div class="clr"></div>
			  </div>
			</div>
			
		  <div class="footer">
		    <div class="footer_resize">
		      <p class="lf">&copy; Copyright <a href="#">Sabor Integral</a>.</p>
		      <div class="clr"></div>
		    </div>
		  </div>
		</div>
	</body>
</html>
