<!DOCTYPE html>
<html>
<head>
  <title>Si</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "formtastic" %>
  <%= stylesheet_link_tag "formtastic_change" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
